Source: ncc
Section: devel
Priority: optional
Maintainer: Anuradha Weeraman (anu) <aweeraman@gmail.com>
Build-Depends: debhelper (>= 9), libncurses5-dev
Standards-Version: 3.9.6
Uploaders: NIIBE Yutaka <gniibe@fsij.org>
Homepage: http://students.ceid.upatras.gr/~sxanth/ncc/

Package: ncc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: C source code analyzer
 A small, extensible tool that provides program analysis data of C
 source code. This data can be used to analyze the function call flow
 of programs with tools such as graphviz and springgraph. Included
 with this distribution is nccnav that can be used to study the call
 hierarchy of C source code on a text-mode console.
